---
layout: mylayout.njk
myOtherData: hello
---

<main>  
  <iframe src="https://calendar.google.com/calendar/embed?src=makerspace%40thesocialteahouse.bg&ctz=Europe%2FSofia" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  {{ content | safe }}
</main>