<!doctype html>
<html lang="bg">
    <head>
        <meta charset="utf-8">
        <title>The Social Makerspace</title>
    </head>
    <body>
        <header>
            <img src="" alt="The Social Makerspace" class="logo">
            <nav>
                
            </nav>
        </header>
        <main>
            <h1>{{ pageTitle }}</h1>

            {{ content }}
        </main>
        <footer>© 2023 - 2024 Toni Marinov. All rights reserved.</footer>
    </body>
</html>